{% extends 'layout/main-layout.html.twig' %}

{% block title %}{{ category is defined and category ? category.name : 'Strona główna' }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Posty -->
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="{{ path('post_page', {'id': post.id, 'slug': post.slug}) }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                {% if post.subtitle %}
                                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                                {% endif %}
                            </a>
                            <p class="post-meta">
                                <a href="{{ path('category_page', {'id': post.category.id, 'slug': post.category.slug}) }}">{{ post.category.name }}</a> |
                                {{ post.addDate | date('d.m.Y') }}
                            </p>
                        </div>
                        <!-- Podział-->
                        <hr class="my-4" />
                    {% endfor %}
                {% else %}
                    <div class="post-preview">
                        <h2 class="post-title">Brak postów :(</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
